{% extends "base.html" %}
{% block title %} LOGIN {%endblock%}
{% block heading %} LOGIN {% endblock %}
{% block content %}
<!-- <div class="container"> -->
<div class="row">
    <div class="offset-md-3 col-md-6">
        {% if form.errors %}
        <p class="alert alert-danger">Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <p class="alert alert-info">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
        <p class="alert alert-danger">Please login to see this page.</p>
        {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table class="form-group">
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <input type="submit" value="Login" class="btn btn-primary offset-md-3 col-md-3" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <br><br>
        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>


    </div>
    <!-- </div> -->
</div>
{% endblock %}